#title-name {
    font-size: 14px;
    color: #212529;
    letter-spacing: 0;
    text-align: center;
    line-height: 21px;
    cursor: auto;
    border: none;
    background: #f8f9fa;
    box-shadow: none;
}
